<main class="main">
    <div class="mb-3 mb-lg-5"></div>
    <div class="mb-3 mb-lg-5"></div>
<!-- 
<div class="container-fluid">
    <div class="page-header page-header-big text-center"
        style="background-image: url('assets/images/achievements.jpg')">
    </div>
</div> -->

<img src="assets/images/comingsoon.jpg" style="margin: auto; width: 25%; border-radius: 250px;">
<div class="mb-3 mb-lg-5"></div>
<div class="mb-3 mb-lg-5"></div>
<!-- <div class="footer-newsletter bg-image" style="background-image: url(assets/images/home/banners/3.jpg)">
    <div class="container">
        <div class="heading text-center" contentAnim aniName="blurIn">
            <h3 class="title">Get The Free Quotes</h3>
            <p class="title-desc">Describe your work as best as possible in order to <span>receive precise
                    quotes</span></p>
            <br>
            <button class="btn btn-white" type="submit" id="newsletter-btn"><span>Request Quotes</span><i
                    class="icon-long-arrow-right"></i></button>
        </div>
    </div>
</div> -->

</main>