.card.card-sm .card-title .title .card.bg-light .card-title a, .card.bg-white .card-title a{
    font-size: 2rem !important;
}

.banner-cat .banner-title{
    font-size: 16px !important;
}

h2{
    font-size: 2rem !important;
}

.product-desc-content h2, .product-desc-content h3{
    margin-bottom: 0.8rem;
}

a{
    font-weight: 900;
}
a:hover{
    color: #a6c76c !important;
    font-size: 20px;
    cursor: pointer;
}
