<div class="dropdown category-dropdown">
    <a href="javascript:;" class="dropdown-toggle" title="Browse Categories">Browse Categories</a>

    <div class="dropdown-menu">
        <nav class="side-nav">
            <ul class="menu-vertical sf-arrows">
                              
                <li [class.active]="current.includes('/services')">
                    <a routerLink="/services" class="sf-with-ul">Interior design</a>
                    <ul>
                        <li>
                            <a routerLink="/services">Interior Stairs</a>
                        </li>
                        <li>
                            <a routerLink="/services">Interior Carpentry</a>
                        </li>
                        <li>
                            <a routerLink="/services">Painting Work/ Wallpapering</a>
                        </li>
                        <li>
                            <a routerLink="/services">Interior Renovation</a>
                        </li>
                        <li>
                            <a routerLink="/services">Interior Floors</a>
                        </li>
                        <li>
                            <a routerLink="/services">Bathroom / Shower / Sanitary / Wellness </a>
                        </li>
                    </ul>
                </li>

                <li [class.active]="current.includes('/services')">
                    <a routerLink="/services" class="sf-with-ul">Horticulture </a>
                    <ul>
                        <li>
                            <a routerLink="/services">Design of the Outdoor Area</a>
                        </li>
                        <li>
                            <a routerLink="/services">Fences and Gates </a>
                        </li>
                        <li>
                            <a routerLink="/services">External Stairs </a>
                        </li>
                        <li>
                            <a routerLink="/services">Gardening/Landscaping </a>
                        </li>
                        <li>
                            <a routerLink="/services">Small and Large External Walls </a>
                        </li>
                        <li>
                            <a routerLink="/services">Swimming Pool / Pool and Pond </a>
                        </li>
                        <li>
                            <a routerLink="/services">External Floors</a>
                        </li>
                        <li>
                            <a routerLink="/services">Terraces</a>
                        </li>
                        <li>
                            <a routerLink="/services">Veranda / Pergola </a>
                        </li>
                        
                    </ul>
                </li>

                <li [class.active]="current.includes('/services')">
                    <a routerLink="/services" class="sf-with-ul">Build or Renovate </a>
                    <ul>
                        <li>
                            <a routerLink="/services">Carport Construction </a>
                        </li>
                        <li>
                            <a routerLink="/services">Construction Work </a>
                        </li>
                        <li>
                            <a routerLink="/services">Construction Rubber & Removal </a>
                        </li>
                        <li>
                            <a routerLink="/services">Power / Wiring </a>
                        </li>
                        <li>
                            <a routerLink="/services">Sealing and Drainage </a>
                        </li>
                        <li>
                            <a routerLink="/services">Facde </a>
                        </li>
                        <li>
                            <a routerLink="/services">Windows / Doors / Shutters </a>
                        </li>
                        <li>
                            <a routerLink="/services">Heat Pumps / Air Conditioning / Gaz and Pellet Heaters / VMC </a>
                        </li>
                        <li>
                            <a routerLink="/services">House or Apartment Renovation </a>
                        </li>
                        <li>
                            <a routerLink="/services">Canopy </a>
                        </li>
                        <li>
                            <a routerLink="/services">Steel Work </a>
                        </li>
                        
                    </ul>
                </li>

                <li [class.active]="current.includes('/services')">
                    <a routerLink="/services" class="sf-with-ul">Other Work </a>
                    <ul>
                        <li>
                            <a routerLink="/services">Energy Certificate </a>
                        </li>
                        <li>
                            <a routerLink="/services">Move </a>
                        </li>
                        <li>
                            <a routerLink="/services">Maintenance & Cleaning / Housekeeper </a>
                        </li>
                        <li>
                            <a routerLink="/services">Car & Truck Lettering </a>
                        </li>
                        <li>
                            <a routerLink="/services">Assembly and Installation </a>
                        </li>
                        <li>
                            <a routerLink="/services">Alarm Systems and Fire Detectors </a>
                        </li>
                        <li>
                            <a routerLink="/services">House Clearances / Garbage Disposal </a>
                        </li>
                        <li>
                            <a routerLink="/services">Wellness</a>
                        </li>
                        
                    </ul>
                </li>
                
            </ul>
           
        </nav>
    </div>
</div>