<nav class="main-nav">
    <ul class="menu">
        <li class="megamenu-container" [class.active]="current=='/'"><a routerLink="/" class="sf-with-ul">Home</a></li>
        <li class="megamenu-container" [class.active]="current.includes('/services')"><a routerLink="/services" class="sf-with-ul">Services</a></li>
        <li class="megamenu-container" [class.active]="current.includes('/achievements')"><a routerLink="/achievements" class="sf-with-ul">Achievements</a></li>
        <li class="megamenu-container" [class.active]="current.includes('/contact')"><a routerLink="/contact" class="sf-with-ul">Contact Us</a></li>
    </ul>
</nav>